<h3>Lab8. Ovezklychev Farkhat ICS6-34B. </h3>

<p>Enter how many digits in number: </p>
<%= label_tag("Number of digits:") %>
<input type='text' id='data'> <br/><br/>
<button id='submit'>Find all Armstrong Numbers</button>

<span id='numbers'></span>
