<h2>Овезклычев Фархат Ялкабович ИУ6-34. Билет №46</h2>
<h3>Source#input</h3>
<p>Дан массив X(10). Определить сумму чисел, делящихся на 3 без остатка, и поместить её вместо последнего четного индекса массива</p>
<p>Введите значения массива X(10) через пробел</p>
<%= form_tag("/source/output", :method => "get") do %>
<%= label_tag("Массив:") %>
<%= text_field_tag(:val, nil, value: '3 3 3 3 2 15 9 5 2 2') %> <br/>
<br/>
<%= submit_tag("Посчитать") %>
<% end %>